:root {
  /* COLORS */
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --navy-blue-color: #2e2f42;
  --green-color: #31d0aa;
  --slate-color: #434455;
  --light-slate-color: #8e8f99;
  --cornflower-color: #e7e9fc;
  --cloud-color: #f4f4fd;
  --white-color: #ffffff;
  --dairy-color: #fcfcfc;

  /* TEXT */

  --accent-font-family: 'Raleway', sans-serif;
  --main-font-family: 'Roboto', sans-serif;

  --bold-font-weight: 700;
  --medium-font-weight: 500;
  --regular-font-weight: 400;

  --logo-font-size: 18px;
  --hero-title-font-size: 56px;
  --second-level-title-font-size: 36px;
  --third-level-title-font-size: 20px;
  --body-font-size: 16px;
  --input-text-font-size: 14px;
  --small-font-size: 12px;

  --logo-line-height: 1.17;
  --hero-title-line-height: 1.07;
  --second-level-title-line-height: 1.11;
  --third-level-title-line-height: 1.2;
  --text-line-height: 1.5;
  --input-text-line-height: 1.16;

  --main-letter-spacing: 0.02em;
  --logo-letter-spacing: 0.03em;
  --button-letter-spacing: 0.04em;

  /* ANIMATION */
  --transition-duration: 250ms;
  --transition-time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
body {
  font-family: var(--main-font-family);
  color: var(--slate-color);
  background-color: var(--white-color);
  font-size: var(--body-font-size);
}
.container {
  max-width: 1158px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/*Header*/
.page-header {
  border-bottom: 1px solid var(--cornflower-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
}

.logo {
  margin-right: 76px;

  color: var(--iris-color);
  font-family: var(--accent-font-family);
  font-size: var(--logo-font-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--logo-line-height);
  letter-spacing: var(--logo-letter-spacing);
  text-transform: uppercase;
}
.accent {
  color: var(--navy-blue-color);
  font-family: var(--accent-font-family);
  font-size: var(--logo-font-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--logo-line-height);
  letter-spacing: var(--logo-letter-spacing);
  text-transform: uppercase;
}
.page-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.navigation-list {
  display: inline-flex;
  align-items: center;
  column-gap: 40px;
}
.navigation-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--navy-blue-color);
  font-weight: var(--medium-font-weight);
  line-height: var(--text-line-height);
  letter-spacing: var(--main-letter-spacing);
  position: relative;
  transition: color var(--transition-duration) var(--transition-time-function);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--ocean-color);
}
.line {
  color: var(--ocean-color);
}
.line:after {
  display: block;
  content: '';
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean-color);
  position: absolute;
  left: 0;
  bottom: -1px;
}
.address {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 40px;

  color: var(--slate-color);
  line-height: var(--text-line-height);
  letter-spacing: var(--main-letter-spacing);
}
.address-list {
  display: flex;
  column-gap: 40px;
}
.address-contact {
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--slate-color);
  font-style: normal;
  letter-spacing: var(--main-letter-spacing);
  transition: color var(--transition-duration) var(--transition-time-function);
}
.address-contact:hover,
.address-contact:focus {
  color: var(--ocean-color);
}
/*Hero*/
.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  background-color: var(--navy-blue-color);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
  margin-bottom: 48px;

  color: var(--white-color);
  font-size: var(--hero-title-font-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--hero-title-line-height);
  letter-spacing: var(--main-letter-spacing);
  text-align: center;
}
.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;

  color: var(--white-color);
  background-color: var(--iris-color);
  font-weight: var(--medium-font-weight);
  line-height: var(--text-line-height);
  letter-spacing: var(--button-letter-spacing);
  transition: background-color var(--transition-duration)
    var(--transition-time-function);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean-color);
}
/*Section 2*/
.business-solutions-list {
  display: flex;
  column-gap: 24px;
  margin-left: auto;
  margin-right: auto;
}
.business-solutions-item {
  display: inline-flex;
  flex-direction: column;
  width: calc((100% - 72px) / 4);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.business-solutions-title {
  margin-bottom: 8px;

  color: var(--navy-blue-color);
  font-size: var(--third-level-title-font-size);
  font-weight: var(--medium-font-weight);
  line-height: var(--third-level-title-line-height);
  letter-spacing: var(--main-letter-spacing);
}
.wrapper {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid var(--light-slate-color);
  background: var(--cloud-color);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.business-solutions-text {
  color: var(--slate-color);
  line-height: var(--text-line-height);
  letter-spacing: var(--main-letter-spacing);
}
/*Our Team*/
.team {
  background-color: var(--cloud-color);
}
.team-title {
  margin-bottom: 72px;

  color: var(--navy-blue-color);
  text-align: center;
  font-size: var(--second-level-title-font-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--second-level-title-line-height);
  letter-spacing: var(--main-letter-spacing);
  text-transform: capitalize;
}
.team-list {
  display: flex;
  column-gap: 24px;
}
.team-list-item {
  background-color: var(--white-color);

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  text-align: center;

  width: calc((100% - 72px) / 4);
}
.team-list-content {
  padding: 32px 0;
}

.team-list-name {
  margin-bottom: 8px;

  color: var(--navy-blue-color);
  text-align: center;
  font-size: var(--third-level-title-font-size);
  font-weight: var(--medium-font-weight);
  line-height: var(--third-level-title-line-height);
  letter-spacing: var(--main-letter-spacing);
}
.team-list-text {
  color: var(--slate-color);
  text-align: center;
  line-height: var(--text-line-height);
  letter-spacing: var(--main-letter-spacing);
}
.team-socials-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}
.team-socials-item {
  width: 40px;
  height: 40px;
}
.team-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris-color);
  transition: background-color var(--transition-duration)
    var(--transition-time-function);
}
.team-socials-icon {
  fill: var(--cloud-color);
}
.team-socials-link:hover,
.team-socials-link:focus {
  background-color: var(--ocean-color);
}
/*Our Portfolio*/
.portfolio-title {
  margin-bottom: 72px;

  color: var(--navy-blue-color);
  text-align: center;
  font-size: var(--second-level-title-font-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--second-level-title-line-height);
  letter-spacing: var(--main-letter-spacing);
  text-transform: capitalize;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  display: inline-flex;
  flex-direction: column;
  background-color: var(--white-color);

  width: calc((100% - 48px) / 3);
  transition: box-shadow var(--transition-duration)
    var(--transition-time-function);
}
.portfolio-list-content {
  padding: 32px 16px;
  border: 1px solid var(--cornflower-color);
  border-top: none;
}
.portfolio-list-name {
  margin-bottom: 8px;

  color: var(--navy-blue-color);
  font-size: var(--third-level-title-font-size);
  font-weight: var(--medium-font-weight);
  line-height: var(--third-level-title-line-height);
  letter-spacing: var(--main-letter-spacing);
}
.portfolio-list-text {
  color: var(--slate-color);
  line-height: var(--text-line-height);
  letter-spacing: var(--main-letter-spacing);
}
.portfolio-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay:hover .overlay {
  transform: translateY(0);
}
.portfolio-list:hover .portfolio-list-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.overlay {
  color: var(--cloud-color);
  font-size: var(--body-font-size);
  line-height: var(--text-line-height);
  letter-spacing: var(--main-letter-spacing);
  text-align: justify;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris-color);
  transform: translateY(100%);
  transition: transform var(--transition-duration)
    var(--transition-time-function);
}
/*Footer*/
.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--navy-blue-color);
}
.page-footer-logo {
  margin-right: 120px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.accent-footer {
  color: var(--cloud-color);
  font-family: var(--accent-font-family);
  font-size: var(--logo-font-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--logo-line-height);
  letter-spacing: var(--logo-letter-spacing);
  text-transform: uppercase;
}
.page-footer-text {
  width: 264px;

  color: var(--cloud-color);
  line-height: var(--text-line-height);
  letter-spacing: var(--main-letter-spacing);
}
.page-footer-social-text {
  font-size: var(--body-font-size);
  font-weight: var(--medium-font-weight);
  line-height: var(--text-line-height);
  letter-spacing: var(--main-letter-spacing);

  color: var(--white-color);
  margin-bottom: 16px;
  width: 264px;
}
.page-footer-container {
  display: flex;
  align-items: baseline;
}
.page-footer-social {
  margin-right: 80px;
}
.page-footer-social-list {
  display: flex;
  gap: 16px;
}
.page-footer-social-item {
  width: 40px;
  height: 40px;
}
.page-footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris-color);
  transition: background-color var(--transition-duration)
    var(--transition-time-function);
}

.page-footer-social-link:hover,
.page-footer-social-link:focus {
  background-color: var(--green-color);
}
.page-footer-social-icon {
  fill: var(--cloud-color);
}

.footer-form-title {
  color: var(--white-color);
  margin-bottom: 16px;

  font-weight: var(--medium-font-weight);
  line-height: var(--text-line-height);
  letter-spacing: var(--main-letter-spacing);
}
.footer-form {
  display: flex;
  gap: 24px;
}
.form-icon-footer {
  margin-left: 16px;
}
.footer-form-input {
  color: var(--white-color);
  font-size: var(--small-font-size);
  line-height: var(--text-line-height);
  letter-spacing: var(--button-letter-spacing);
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--white-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-form-input:hover,
.footer-form-input:focus {
  border: 1px solid var(--iris-color);
}
.footer-form-input:focus-within {
  border-color: var(--iris-color);
}
.footer-form-button {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  min-width: 165px;
  border: none;
  border-radius: 4px;
  background: var(--iris-color);
  color: var(--white-color);
  cursor: pointer;
  text-align: center;
  font-weight: var(--medium-font-weight);
  line-height: var(--text-line-height);
  letter-spacing: var(--button-letter-spacing);
  transition: background-color var(--transition-duration)
    var(--transition-time-function);
}
.footer-form-button:hover,
.footer-form-button:focus {
  background-color: var(--ocean-color);
}
.footer-form-icon {
  fill: var(--cloud-color);
  margin-left: 16px;
}
/* BACKDROP */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  cursor: not-allowed;
  transition: opacity var(--transition-duration) var(--transition-time-function),
    visibility var(--transition-duration) var(--transition-time-function);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* /BACKDROP */

/* MODAL */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  background: var(--dairy-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform var(--transition-duration)
    var(--transition-time-function);
}

.close-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  background-color: var(--cornflower-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  transition: background-color var(--transition-duration)
      var(--transition-time-function),
    border var(--transition-duration) var(--transition-time-function);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.close-btn-icon {
  transition: fill var(--transition-duration) var(--transition-time-function);
}
.close-btn:hover,
.close-btn:focus {
  background-color: var(--ocean-color);
  border: none;
}
.close-btn:hover .close-btn-icon,
.close-btn:focus .close-btn-icon {
  fill: var(--white-color);
}
.form-title {
  color: var(--navy-blue-color);
  text-align: center;
  font-weight: var(--medium-font-weight);
  line-height: var(--text-line-height);
  margin-bottom: 16px;
  letter-spacing: var(--main-letter-spacing);
}
.review-form-field-wrapper {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}
.review-form-field-label {
  display: block;
  color: var(--light-slate-color);
  font-size: var(--small-font-size);
  line-height: var(--logo-line-height);
  letter-spacing: var(--button-letter-spacing);
  margin-bottom: 4px;
}
.review-form-input-wrapper {
  position: relative;
}

.review-form-input {
  padding: 11px 16px 11px 38px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color var(--transition-duration)
    var(--transition-time-function);
  font-size: var(--input-text-font-size);
}
.review-form-input:focus {
  border: 1px solid var(--iris-color);
  outline: transparent;
}

.review-form-field-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--navy-blue-color);
  transition: fill var(--transition-duration) var(--transition-time-function);
}
.review-form-input:focus + .review-form-field-icon {
  fill: var(--iris-color);
}
.comment {
  margin-bottom: 16px;
}
.review-form-comment {
  width: 100%;
  height: 120px;
  font-size: var(--small-font-size);
  font-weight: var(--regular-font-weight);
  line-height: var(--logo-line-height);
  letter-spacing: var(--button-letter-spacing);
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  transition: border-color var(--transition-duration)
    var(--transition-time-function);
}
.review-form-comment:focus {
  border: 1px solid var(--iris-color);
  outline: transparent;
}
.form-checkbox {
  margin-bottom: 24px;
}
.review-form-checkbox-label {
  color: var(--light-slate-color);
  font-size: var(--small-font-size);
  font-weight: var(--regular-font-weight);
  line-height: var(--logo-line-height);
  letter-spacing: var(--button-letter-spacing);
}
.review-form-privacy-link {
  color: var(--iris-color);
  font-size: var(--small-font-size);
  font-weight: var(--regular-font-weight);
  line-height: var(--input-text-line-height);
  letter-spacing: var(--button-letter-spacing);
  text-decoration: underline;
}
.review-form-submit {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  cursor: pointer;
  text-align: center;
  font-family: var(--main-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--medium-font-weight);
  line-height: var(--text-line-height);
  letter-spacing: var(--button-letter-spacing);
  border-radius: 4px;
  border: none;
  background-color: var(--iris-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-duration)
    var(--transition-time-function);
}
.review-form-submit:hover,
.review-form-submit:focus {
  background-color: var(--ocean-color);
}

.review-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  height: 16px;
  width: 16px;
  cursor: pointer;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: background-color var(--transition-duration)
      var(--transition-time-function),
    border var(--transition-duration) var(--transition-time-function),
    fill var(--transition-duration) var(--transition-time-function);
}

.review-form-checkbox:checked
  + .review-form-checkbox-label
  > .review-form-own-checkbox {
  background-color: var(--ocean-color);
  border: none;
  fill: var(--cloud-color);
}
/* /MODAL */
