.page-header {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--cornflower-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: var(--iris-color);
  font-family: var(--accent-font-family);
  font-size: var(--logo-font-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--logo-line-height);
  letter-spacing: var(--logo-letter-spacing);
  text-transform: uppercase;
}
.accent {
  color: var(--navy-blue-color);
}
.navigation-link {
  color: var(--navy-blue-color);
  font-weight: var(--medium-font-weight);
  line-height: var(--text-line-height);
  letter-spacing: var(--main-letter-spacing);
  position: relative;
}
/* 0-768px */
@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }
  .address {
    display: none;
  }
  .page-navigation {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .open-mobile-menu-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
  .open-mobile-menu-btn:hover,
  .open-mobile-menu-btn:hover {
    fill: var(--ocean-color);
  }
  .open-mobile-menu-icon {
    transition: fill var(--transition-duration) var(--transition-time-function);
  }

  .mobile-menu-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: var(--white-color);
    transform: translateX(100%);
    transition: transform var(--transition-duration)
      var(--transition-time-function);
  }
  .mobile-menu-backdrop.is-open {
    transform: translateX(0%);
  }
  .mobile-menu-wrapper {
    position: absolute;
    width: 320px;
    height: 100%;
    background-color: var(--white-color);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 72px;
  }
  .mobile-menu-close-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    background-color: var(--cornflower-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    transition: background-color var(--transition-duration)
        var(--transition-time-function),
      border var(--transition-duration) var(--transition-time-function);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .mobile-menu-close-icon {
    fill: var(--navy-blue-color);
    transition: fill var(--transition-duration) var(--transition-time-function);
  }
  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    background-color: var(--ocean-color);
    border: none;
    outline: transparent;
  }
  .mobile-menu-close-btn:hover .mobile-menu-close-icon,
  .mobile-menu-close-btn:focus .mobile-menu-close-icon {
    fill: var(--white-color);
  }
  .mobile-nav {
    margin-bottom: 168px;
  }
  .mobile-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 40px;
    font-size: var(--second-level-title-font-size);
    font-weight: var(--bold-font-weight);
    line-height: var(--second-level-title-line-height);
    letter-spacing: var(--main-letter-spacing);
    text-transform: capitalize;
  }
  .mobile-list-link-studio {
    color: var(--ocean-color);
  }
  .mobile-list-link {
    color: var(--navy-blue-color);
    position: relative;
    transition: color var(--transition-duration) var(--transition-time-function);
  }
  .mobile-list-link:hover,
  .mobile-list-link:focus {
    color: var(--ocean-color);
  }
  .mobile-address {
    margin-bottom: 48px;
    font-size: var(--third-level-title-font-size);
    font-style: normal;
    font-weight: var(--medium-font-weight);
    line-height: var(--third-level-title-line-height);
    letter-spacing: var(--main-letter-spacing);
  }
  .mobile-address-list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
  .mobile-address-contact-tel {
    color: var(--iris-color);
  }
  .mobile-address-contact-email {
    color: var(--slate-color);
    transition: color var(--transition-duration) var(--transition-time-function);
  }
  .mobile-address-contact-email:hover,
  .mobile-address-contact-email:focus {
    color: var(--ocean-color);
  }
  .mobile-social-list {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    justify-content: center;
  }
  .mobile-social-item {
    width: 40px;
    height: 40px;
  }
  .mobile-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--iris-color);
    transition: background-color var(--transition-duration)
      var(--transition-time-function);
  }
  .mobile-social-icon {
    fill: var(--cloud-color);
  }
  .mobile-social-link:hover,
  .mobile-social-link:focus {
    background-color: var(--ocean-color);
  }
}

/* 768px - 1158px */
@media screen and (min-width: 768px) {
  .open-mobile-menu-btn {
    display: none;
  }
  .mobile-menu-backdrop {
    display: none;
  }
  .navigation-list {
    display: flex;
    display: inline-flex;
    align-items: center;
    column-gap: 40px;
  }
  .page-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
    padding: 0;
  }
  .logo {
    margin-right: 120px;
  }
  .navigation-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color var(--transition-duration) var(--transition-time-function);
  }
  .navigation-link:hover,
  .navigation-link:focus {
    color: var(--ocean-color);
  }
  .line {
    color: var(--ocean-color);
  }
  .line:after {
    display: block;
    content: '';
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean-color);
    position: absolute;
    left: 0;
    bottom: -1px;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
  .address-contact {
    color: var(--slate-color);
    font-style: normal;
    font-size: var(--small-font-size);
    font-weight: var(--regular-font-weight);
    line-height: var(--logo-line-height);
    letter-spacing: var(--button-letter-spacing);
    transition: color var(--transition-duration) var(--transition-time-function);
  }
  .address-contact:hover,
  .address-contact:focus {
    color: var(--ocean-color);
  }
}

/* 1158px - ... */
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .address-list {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 40px;
  }
  .address-contact {
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--slate-color);
    font-size: var(--body-font-size);
    font-weight: var(--regular-font-weight);
    line-height: var(--text-line-height);
    letter-spacing: var(--main-letter-spacing);
  }
}
