.hero {
  background-color: var(--navy-blue-color);
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/mobile/background-mobile.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-title {
  color: var(--white-color);
  text-align: center;
  font-weight: var(--bold-font-weight);
  text-transform: capitalize;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;

  color: var(--white-color);
  background-color: var(--iris-color);
  font-weight: var(--medium-font-weight);
  line-height: var(--text-line-height);
  letter-spacing: var(--button-letter-spacing);
  transition: background-color var(--transition-duration)
    var(--transition-time-function);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean-color);
}
/* 0 - 768 */
@media screen and (max-width: 768px) {
  .hero {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .main-title {
    max-width: 288px;
    margin-bottom: 72px;
    font-size: var(--second-level-title-font-size);

    line-height: var(--second-level-title-line-height);
    letter-spacing: var(--main-letter-spacing);
  }
}
@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/mobile/background-mobile@2x.jpg');
  }
}
/* 768px - 1158px */
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/tablet/background-tablet.jpg');
  }
  .main-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: var(--hero-title-font-size);
    line-height: var(--hero-title-line-height);
    letter-spacing: var(--main-letter-spacing);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/tablet/background-tablet@2x.jpg');
  }
}
/* 1158px - ... */
@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/desktop/background-desktop.jpg');
  }
  .main-title {
    margin-bottom: 48px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/desktop/background-desktop@2x.jpg');
  }
}
